statemachine/txma_consolidated_stage_layer_to_redshift_processing.asl.json
{
    "Comment": "Redshift ELT processing workflow for loading dimension and fact tables",
    "StartAt": "ListExecutions",
    "States": {
      "ListExecutions": {
        "Type": "Task",
        "Next": "ValidateRunningInstances",
        "Parameters": {
          "StateMachineArn.$": "$$.StateMachine.Id",
          "StatusFilter": "RUNNING"
        },
        "Resource": "arn:aws:states:::aws-sdk:sfn:listExecutions",
        "ResultSelector": {
          "runningExecutionsCount.$": "States.ArrayLength($.Executions)"
        }
      },
      "ValidateRunningInstances": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.runningExecutionsCount",
            "NumericGreaterThan": 1,
            "Next": "RunningInstanceDetected"
          }
        ],
        "Default": "execute_redshift_ingestion_process"
      },
      "RunningInstanceDetected": {
        "Type": "Fail",
        "Error": "RunningInstanceDetected"
      },
      "execute_redshift_ingestion_process": {
        "Comment": "Invoke redshift batch execute",
        "Type": "Task",
        "Resource": "arn:aws:states:::aws-sdk:redshiftdata:executeStatement",
        "ResultPath": "$.sql_output",
        "Parameters": {
          "WorkgroupName": "${RedshiftWorkgroup}",
          "Database": "${RedshiftDatabaseName}",
          "Sql": "call conformed_refactored.update_dap_data_mart()"
        },
        "Next": "wait_on_redshift_ingestion_process"
      },
      "wait_on_redshift_ingestion_process": {
        "Comment": "Wait before status check",
        "Type": "Wait",
        "Seconds": 5,
        "Next": "redshift_ingestion_process_status_check"
      },
      "redshift_ingestion_process_status_check": {
        "Comment": "Check Task Status",
        "Type": "Task",
        "Resource": "arn:aws:states:::aws-sdk:redshiftdata:describeStatement",
        "ResultPath": "$.sql_output",
        "Parameters": {
          "Id.$": "$.sql_output.Id"
        },
        "Next": "is_redshift_ingestion_process_check_complete"
      },
      "is_redshift_ingestion_process_check_complete": {
        "Comment": "check if redshift ingestion process step is complete",
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.sql_output.Status",
            "StringEquals": "FAILED",
            "Next": "elt_data_pipeline_failure"
          },
          {
            "Variable": "$.sql_output.Status",
            "StringEquals": "FINISHED",
            "Next": "StopProcessing"
          }
        ],
        "Default": "wait_on_redshift_ingestion_process"
      },
      "elt_data_pipeline_failure": {
        "Type": "Fail",
        "Cause": "Failure on ELT Pipeline",
        "Error": "Error"
      },
      "StopProcessing": {
        "Type": "Pass",
        "Result": "pass",
        "End": true
      }
    }
  }